keybinds {
    // Conflicts with zsh word jump keybinds
    unbind "Alt Left"
    unbind "Alt Right"

    tab {
        bind "i" { MoveTab "Left"; }
        bind "o" { MoveTab "Right"; }
    }
    session {
        // Conflicts with vim
        unbind "Ctrl o"
    }
    shared_except "locked" {
        // Conflicts with zsh word jump keybinds
        unbind "Alt Left"
        unbind "Alt Right"

        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
    }
    shared_except "session" "locked" {
        // Conflicts with vim
        unbind "Ctrl o"
    }
    unbind "Ctrl q"
}

plugins {
}

// Choose the theme that is specified in the themes section.
// Default: default
// 
theme "catppuccin-mocha"
 
// The name of the default layout to load on startup
// Default: "default"
// 
default_layout "default"
 
// The folder in which Zellij will look for layouts
// (Requires restart)
// 
layout_dir "/Users/shekhirin/.config/zellij/layout"
 
// Toggle having pane frames around the panes
// Options:
//   - true (default, enabled)
//   - false
// 
pane_frames false
 
// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
// 
session_serialization false
// Whether to show tips on startup
// Default: true
// 
show_startup_tips false
