keybinds {
    session {
        // Conflicts with vim
        unbind "Ctrl o"
    }
    shared_except "locked" {
        // Conflicts with zsh word jump keybinds
        unbind "Alt Left"
        unbind "Alt Right"

        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
    }
    shared_except "session" "locked" {
        // Conflicts with vim
        unbind "Ctrl o"
    }
    unbind "Ctrl b"

}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
pane_frames false

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "gruvbox-dark"

// The name of the default layout to load on startup
// Default: "default"
default_layout "default"

// The folder in which Zellij will look for layouts
// TODO: use $HOME or ~ (https://github.com/zellij-org/zellij/issues/2764)
layout_dir "/Users/shekhirin/.config/zellij/layout"

